[submodule "Reinforcement_learning18/PyTorch-RL"]
	path = Reinforcement_learning18/PyTorch-RL
	url = https://github.com/Khrylx/PyTorch-RL.git
[submodule "Reinforcement_learning18/RL-Adventure-2"]
	path = Reinforcement_learning18/RL-Adventure-2
	url = https://github.com/higgsfield/RL-Adventure-2.git
[submodule "Reinforcement_learning18/hgail"]
	path = Reinforcement_learning18/hgail
	url = https://github.com/sisl/hgail.git
